body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: var(--blanco-puro);
}

.simple-header {
    padding: 20px 40px;
    background-color: var(--blanco-puro);
}

.header-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.flex-arrow {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--negro-puro);
}

.header-title {
    font: var(--subtitulo-2);
    color: var(--negro-puro);
}

main {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.container-carrito {
    background-color: var(--verde-claro);
    padding: 50px 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.titulo-principal {
    font: var(--titulo);
    text-align: center;
    margin-bottom: 2rem;
    color: var(--negro-puro);
}

.seccion-borde {
    border-top: 5px solid var(--negro-puro);
    padding-top: 10px;
    margin-bottom: 25px;
}

.subtitulo-seccion {
    font: var(--subtitulo-2);
    color: var(--negro-puro);
}

.campo-info {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.campo-info label {
    font: var(--subtitulo-3);
    white-space: normal;
    flex: 0 0 120px;
    color: var(--negro-puro);
    line-height: 1.2;
}

.caja-dato {
    font: var(--parrafo);
    background-color: var(--blanco-puro);
    border: 2px solid var(--negro-puro);
    padding: 10px 15px;
    flex-grow: 1;
    min-width: 0;
    min-height: 45px;
    display: flex;
    align-items: center;
    color: var(--negro-puro);
    overflow: hidden;
    text-overflow: ellipsis;
}

.texto-total {
    font: var(--subtitulo-2);
    font-weight: bold;
    color: var(--negro-puro);
}

.caja-status {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 30px;
    background-color: var(--negro-puro);
    color: var(--blanco-puro);
    font-weight: bold;
}

.acciones-finales {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.btn-negro {
    font: var(--boton);
    font-weight: bold;
    background-color: var(--negro-puro);
    color: var(--blanco-puro);
    border: none;
    padding: 15px 40px;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
}

.btn-outline-rojo {
    font: var(--boton);
    font-weight: bold;
    background-color: var(--rojo-fuerte);
    color: var(--blanco-puro);
    border: 3px solid var(--rojo-fuerte);
    padding: 15px 40px;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
}